
<p-toast></p-toast>

<p-dialog [(visible)]="authModal" [style]="{width: '30vw'}"  [baseZIndex]="10000" [modal]="true" [dismissableMask]="true">
    <p-tabView>
        <p-tabPanel header="Đăng nhập">
            <div class="p-field">
                <label for="username">Tên đăng nhập: </label>
                <input type="text" pInputText class="w-full" [(ngModel)]="loginForm.username" name="username">
              </div>
              <div class="p-field">
                <label for="password">Mật khẩu: </label>
                <input type="password" pPassword class="w-full" [(ngModel)]="loginForm.password" name="password">
              </div>
              <div class="p-field mt-3">
                <button type="submit" pButton (click)="login()">Đăng nhập</button>
              </div>
        </p-tabPanel>
        <p-tabPanel header="Đăng ký">
            <form action="">
                <div class="p-field">
                    <label for="username">Tên đăng nhập: </label>
                    <input type="text" pInputText class="w-full" [(ngModel)]="registerForm.username" name="username">
                </div>
                <div class="p-field">
                    <label for="email">Email: </label>
                    <input type="email" pInputText class="w-full" [(ngModel)]="registerForm.email" name="email">
                </div>
                <div class="p-field">
                    <label for="password">Mật khẩu: </label>
                    <input type="password" pPassword  class="w-full" [(ngModel)]="registerForm.password" name="password">
                </div>
                <div class="p-field mt-3">
                    <button type="submit" pButton (click)="register()">Đăng ký</button>
                </div>
              </form>
        </p-tabPanel>
    </p-tabView>
</p-dialog>



<!-- <header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> hello.com</li> 
                            <li>Free Shipping for all Order of $99</li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="javascript:void(0)" routerLink="/" ><img src="assets/image/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="javascript:void(0)">Home</a></li>
                        <li><a href="javascript:void(0)" routerLink="/">Shop</a></li>
                        <li><a href="javascript:void(0)">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="javascript:void(0)">Shop Details</a></li>
                                <li><a href="javascript:void(0)">Shoping Cart</a></li>
                                <li><a href="javascript:void(0)">Check Out</a></li>
                                <li><a href="javascript:void(0)">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)" routerLink="/blog">Blog</a></li>
                        <li><a href="javascript:void(0)" routerLink="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="javascript:void(0)" (click)="wishlist.toggle($event)"><fa-icon [icon]="heart"></fa-icon> <span>{{wishlistService.items.length}}</span></a></li>
                        <p-overlayPanel #wishlist>
                            <ng-template pTemplate>
                                <div class="listItemInCart">
                                    <ul>
                                        <li *ngFor="let product of wishlistService.items" class="cart-box">
                                            <div class="cart-box-image p-2">
                                                <a href="javascript:void(0)" class="block"><img src="{{'data:image/jpg;base64,' + product.images[0].data}}" alt="" width="80px"></a>
                                            </div>
                                            <div class="cart-box-text">
                                                <a href="javascript:void(0)">{{product.name}}</a>
                                            </div>
                                            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text" (click)="removeWishList(product)"></button>
                                        </li>
                                    </ul>   
                                </div>
                            </ng-template>
                        </p-overlayPanel>
                        <li><a href="javascript:void(0)" (click)="cart.toggle($event)"><fa-icon [icon]="bag"></fa-icon> <span>{{cartService.items.length}}</span></a></li>
                        <p-overlayPanel #cart>
                            <ng-template pTemplate>
                                <div class="listItemInCart">
                                    <ul>
                                        <li *ngFor="let product of cartService.items" class="cart-box">
                                            <div class="cart-box-image p-2">
                                                <a href="javascript:void(0)" class="block"><img src="{{'data:image/jpg;base64,' + product.images[0].data}}" alt="" width="80px"></a>
                                            </div>
                                            <div class="cart-box-text">
                                                <a href="javascript:void(0)">{{product.name}}</a>
                                                <div><span>{{product.quantity}} x </span>{{product.price | currency}}</div>
                                            </div>
                                            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text" (click)="removeFromCart(product)"></button>
                                        </li>
                                    </ul>
                                    <p-divider></p-divider>
                                    <div class="text-center">
                                        <strong>SUM: </strong><span class="ml-2">{{cartService.getTotalPrice() | currency}}</span>
                                    </div>
                                    <p-divider></p-divider>
                                    <div class="cart-button">
                                        <button pButton pRipple label="GO TO CART" class="w-full p-button-warning" routerLink="cart"></button>
                                    </div>   
                                </div>
                            </ng-template>
                        </p-overlayPanel>
                        <li>
                            <a href="javascript:void(0)" (click)="showAuthForm()" *ngIf="!isLoggedIn"><fa-icon [icon]="userIcon"></fa-icon></a>
                            <a href="javascript:void(0)" (click)="profile.toggle($event)" *ngIf="isLoggedIn"><fa-icon [icon]="userIcon"></fa-icon></a>
                            <p-overlayPanel #profile>
                                <div >
                                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/user" >
                                        <fa-icon [icon]="userIcon"></fa-icon>   
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)" routerLink="my-order">
                                        <fa-icon [icon]="bag"></fa-icon>   
                                        My Orders
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" (click)="logout();profile.toggle($event)" >
                                        <fa-icon [icon]="logoutIcon"></fa-icon>
                                        Logout
                                    </a>
                                </div>
                            </p-overlayPanel>
                        </li>
                        

                    </ul>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header> -->

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/image/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Categories</a>
                    </li> -->
                    <li class="nav-item dropdown" (click)="toggleCategoryDropdown()" style="position: relative;">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)">
                            Categories
                        </a>
                        <ul *ngIf="showCategoryDropdown" class="dropdown-menu show" style="display: block; position: absolute; top: 100%; left: 0; z-index: 1000;">
                            <li *ngFor="let category of listCategoryEnabled">
                                <a class="dropdown-item" [routerLink]="'/category/' + category.id">{{ category.name }}</a>
                            </li>
                        </ul>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link " routerLink="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="/about">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 action-menu">
                    <form class="search-form">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="keyword" name="keyword">
                        <button class="btn btn-outline-success search-btn site-btn" routerLink="/search/{{keyword}}" type="submit">Search</button>
                    </form>
                    <!-- Wishlist -->
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" (click)="wishlist.toggle($event)">
                            <i class="bi bi-heart"></i>
                            <span>{{ wishlistService.items.length }}</span>
                        </a>
                        <p-overlayPanel #wishlist>
                            <ng-template pTemplate>
                                <ul>
                                    <li *ngFor="let product of wishlistService.items">
                                        <img src="{{ 'data:image/jpg;base64,' + product.images[0].data }}" width="50">
                                        <div class="cart-item-info">
                                            <span class="cart-item-name">{{ product.name }}</span>
                                        </div>
                                        <button class="cart-remove-btn" (click)="removeWishList(product)">×</button>
                                    </li>
                                </ul>
                            </ng-template>
                        </p-overlayPanel>
                    </li>
                    
                    <!-- Cart -->
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" (click)="cart.toggle($event)">
                            <i class="bi bi-cart4"></i>
                            <span>{{ cartService.items.length }}</span>
                        </a>
                        <p-overlayPanel #cart>
                            <ng-template pTemplate>
                                <ul>
                                    <li *ngFor="let product of cartService.items">
                                        <img src="{{ 'data:image/jpg;base64,' + product.images[0].data }}" width="50">
                                        <div class="cart-item-info">
                                            <span class="cart-item-name">{{ product.name }}</span>
                                            <!-- <span class="cart-item-quantity">{{ product.quantity }} x {{ product.price | currency }}</span> -->
                                            <span class="cart-item-quantity">{{ product.quantity }} x {{ product.price | currency:'VND':'symbol':'1.0-0':'vi' }}</span>
                                        </div>
                                        <button class="cart-remove-btn" (click)="removeFromCart(product)">×</button>
                                    </li>
                                </ul>
                                <!-- <div class="cart-total">Total: {{ cartService.getTotalPrice() | currency }}</div> -->
                                <div class="cart-total">Total: {{ cartService.getTotalPrice() | currency:'VND':'symbol':'1.0-0':'vi' }}</div>
                                <button class="cart-button" routerLink="/cart">Go to Cart</button>
                            </ng-template>
                        </p-overlayPanel>
                    </li>
                    
                    <!-- User Authentication -->
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" (click)="showAuthForm()" *ngIf="!isLoggedIn">
                            <i class="bi bi-person" style="font-size: 1.5rem;"></i>
                        </a>
                        <a class="nav-link" href="javascript:void(0)" (click)="profile.toggle($event)" *ngIf="isLoggedIn">
                            <i class="bi bi-person"></i>
                        </a>
                        <p-overlayPanel #profile>
                            <div>
                                <a class="dropdown-item" routerLink="/user">
                                    <i class="bi bi-person"></i> Profile
                                </a>
                                <a class="dropdown-item" routerLink="/my-order">
                                    <i class="bi bi-bag"></i> My Orders
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="logout(); profile.toggle($event)">
                                    <i class="bi bi-box-arrow-right"></i> Logout
                                </a>
                            </div>
                        </p-overlayPanel>
                    </li>
                    
                    
                    
                </ul>
            </div>
        </div>
    </nav>
</header>




<!-- <section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all" (click)="showDepartmentClick()" >
                        <fa-icon [icon]="bars"></fa-icon>
                        <span>All departments</span>
                    </div>
                    <ul *ngIf="showDepartment">
                        <li><a href="javascript:void(0)" *ngFor="let category of listCategoryEnabled" routerLink="category/{{category.id}}">{{category.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?" [(ngModel)]="keyword" name="keyword">
                            <button class="site-btn" routerLink="/search/{{keyword}}">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <fa-icon [icon]="phone"></fa-icon>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section> -->



<router-outlet></router-outlet>



<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="javascript:void(0)"><img src="assets/image/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: Hanoi National University of Education</li>
                        <li>Phone: +84 388.859.175</li>
                        <!-- <li>Email: hello@colorlib.com</li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="javascript:void(0)">About Us</a></li>
                        <li><a href="javascript:void(0)">About Our Shop</a></li>
                        <li><a href="javascript:void(0)">Secure Shopping</a></li>
                        <li><a href="javascript:void(0)">Delivery infomation</a></li>
                        <li><a href="javascript:void(0)">Privacy Policy</a></li>
                        <li><a href="javascript:void(0)">Our Sitemap</a></li>
                    </ul>
                    <ul>
                        <li><a href="javascript:void(0)">Who We Are</a></li>
                        <li><a href="javascript:void(0)">Our Services</a></li>
                        <li><a href="javascript:void(0)">Projects</a></li>
                        <li><a href="javascript:void(0)">Contact</a></li>
                        <li><a href="javascript:void(0)">Innovation</a></li>
                        <li><a href="javascript:void(0)">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="javascript:void(0)"><i class="fab fa-facebook"></i></a>
                        <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                        <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                        <a href="javascript:void(0)"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


