<p-toast></p-toast>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<input type="text" placeholder="Username" [(ngModel)]="registerForm.username" name="username" />
			<input type="email" placeholder="Email" [(ngModel)]="registerForm.email" name="email" />
			<input type="password" placeholder="Password" [(ngModel)]="registerForm.password" name="password" />
			<button (click)="register()">
				<span *ngIf="!isLoading">Sign Up</span>
				<span *ngIf="isLoading">
					<i class="pi pi-spin pi-spinner" style="margin-right: 5px;"></i> Loading...
				</span>
			</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<!-- Form Đăng Nhập -->
		<form *ngIf="!isForgotPassword" action="javascript:void(0)">
		  <h1>Sign in</h1>
		  <input type="text" placeholder="Email" [(ngModel)]="loginForm.email" name="email" />
		  <input type="password" placeholder="Password" [(ngModel)]="loginForm.password" name="password" />
		  <a href="javascript:void(0)" (click)="toggleForgotPassword()">Forgot your password?</a>
		  <button (click)="login()">Sign In</button>
		</form>
	  
		<!-- Form Quên Mật Khẩu -->
		<form *ngIf="isForgotPassword" action="javascript:void(0)" class="forgot-password-form">
		  <h2>Reset Password</h2>
		  <input type="email" placeholder="Enter your email" [(ngModel)]="forgotEmail" name="forgotEmail" />
		  <p *ngIf="forgotMessage" style="color: green;">{{ forgotMessage }}</p>
  		  <p *ngIf="forgotError" style="color: red;">{{ forgotError }}</p>
		  <button type="button" *ngIf="!forgotMessage" (click)="onResetPassword()">
			<span *ngIf="!isLoading">Send Reset Email</span>
			<span *ngIf="isLoading">
				<i class="pi pi-spin pi-spinner" style="margin-right: 5px;"></i> Sending...
			</span>
		  </button>
		  <a href="javascript:void(0)" (click)="toggleForgotPassword()">← Back to Login</a>
		</form>
	  </div>	  
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn" (click)="loginFormChange()">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp" (click)="registerFormChange()">Sign Up</button>
			</div>
		</div>
	</div>
</div>
